 .bg {
   /* The image used */
   background-image: url(../img/fundoteste.svg);
 
   /* Full height */
 height: 100%;
   /* Center and scale the image nicely */
   background-repeat: repeat;
   
}

.bg2 {
   background-color: rgb(220,53,69);

}

.bg3 {
   background-color:rgb(255,253,233);

}

.logo img{
    height: 8rem;
}

.logowhatsapp:hover {
   background-color: rgb(179, 255, 0);
border-radius: 10rem;
}

.logofacebook:hover {
    background-color: rgb(0, 195, 255);
    border-radius: 0rem 10rem 10rem 0rem;

 }

 .logoemail:hover {
    background-color: rgb(255, 202, 202);
    border-radius: 10rem 0rem 0rem 10rem;

 }

.carousel-inner img{
   max-height: 450px;
   min-height: 300px;
   width: 100%;
   margin: auto;
}

.imgbanner {
   width: 100%;
   height: auto;
}

.carousel-indicators li {

border-radius: 50%;
    width: 12px;
    height: 12px;}

.petiscos{
   height: 300px;
   width: 300px;
}

.lanchedestaque {
   border-radius: 10%;
}


.post-content:hover ,.post-content2:hover ,.post-content3:hover {
   background: rgba(0, 0, 0, 0.6);
}

.post-content , .post-content2 , .post-content3 {
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.3);
   top:0;
   left:0;
   position: absolute;
   color: #ffffff;
}

.post-content {
   min-width: 300px;
   min-height: 300px; 
}

.fontetema {
   font-family: 'Norican', cursive;
   font-size: 3.2rem;
   text-align: center;
}

.caption h3 {
   font-family: 'Norican', cursive;
   font-size: 3rem;
}

.thumbnail{
   position:relative;
   
}

.botaocard{
   margin: 1rem;
   color: whitesmoke;
   background-color: brown;
   border-radius: 10rem;
   font-size: 1.9rem;
   max-width: 500px;;
}

.botaocard:hover {
   background-color: cadetblue;
}

/* Páginas do cardápio (Lanches) */
.imgcard img{
   height: 225px ;
}

.containercardapio {
   position: relative;
   text-align: center;
   color: white;
}

.containercardapio img {
   max-width: 100%;
   height: auto;
   width: 100%;
   max-height: 300px;
}

.masthead-avatar {
   height: 200px;
}


.circuloitens {
   height: 100px;
   width: 100px;
   border-radius: 50%;
}

.citens {
   height: 300px;
   width: 300px;
   border-radius: 15%;
}

.citens img {
   height: 300px;
   width:  300px;
   border-radius: 15%;  
   border: 5px solid rgb(255, 0, 0);

}

.dividerz hr , .dividerzred hr , .dividerzyell hr{
   margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.dividerz hr{
  border-top: 10px solid rgba(0, 0, 0, 0.9);
}

.dividerzred hr{
   border-top: 10px solid rgba(255, 0, 0, 0.9);
 }
 
 .dividerzyell hr{
   border-top: 10px solid rgba(236, 213, 0, 0.9);
 }

/* Página Localização*/

.localizacaoimg img {
   max-height: 500px;
   max-width: 500px;
   width: 100%;
}

/* Página Sobre*/

.containervideo {
   position: relative;
   overflow: hidden;
   width: 100%;
   max-width: 1000px;
   padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 }
 
 /* Then style the iframe to fit in the container div with full height and width */
 .responsive-iframe {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   max-height: 500px;
   max-width: 1000px;
   height: 100%;
 }

/* Página Registrar*/

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #ff0000a2, #ff0000a2);
    font-weight: bold;
    line-height: 80px;
}

.form-content
{
    padding: 5%;
    border: 3px solid #ff0000a2;
    margin-bottom: 2%;
}



.form-control{
    border-radius:1.5rem;
}


/* Página edição de informações de perfil do usuário*/

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
   background-color: rgb(255, 196, 0)!important;
 }

 .teste a{
    text-decoration: none;
 }


 /* Páginas do painel adm*/
.next a, .prev a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 20px;
}
